/* Author: Oxh Zxh */

@font-face {
    font-family: Poppins;
    src: url('icons/Poppins-Regular.ttf');
}
/* BASIC STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

/*TITULO Y BOTON DE REGRESO*/
.top {
    display: inline-flex;
    padding: 5px 15px;
}

.heading {
    font-size: large;
    text-align: center;
    margin-left: 0px;
}

.regresar {
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    width: 22px;
    height: 24px;
    padding: 0px 2px 4px 4px;
    fill: #105e8b;
}

.regresar:hover {
    background: #333;
    fill: #ccc;
    border-radius: 5px;
    transition: .5s;
}




/*CONTENIDO*/

/*VIDEO EN REPRODUCCION*/
.container-box {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    padding: 0px 15px;
}

.container .main-video {
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    border: #c0c0c0 1px solid;
}

.container .main-video .video {
    position: relative;
    display: inline-flex;
    width: 100%;
}

.container .main-video .video video {
    width: 100%;
    max-height: 80vh;
    border-radius: 5px;
}

#video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #bebebe46;
    align-items: center;
    padding: 3px;
}

#left-buttons,
#right-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-controls img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0px 5px;
}

#progress-bar-box {
    cursor: pointer;
    margin: 0px auto;
    width: 70%;
    height: 5px;
    background: rgba(51, 51, 51, 0.154);
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
}

#progress-bar {
    height: 100%;
    background: red;
    cursor: pointer;
    border-radius: 3px;
}

#progress-ball {
    display: none;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-left: -1%;
}

/*TITULO DEL VIDEO EN REPRODUCCION*/
#title-main {
    color: rgb(57, 57, 57);
}


/*LISTA DE VIDEOS*/
.video-list {
    background: #ffffff;
    border-radius: 5px;
    overflow-y: scroll;
    border: #c0c0c0 1px solid;
    height: 80vh;
}

.video-list::-webkit-scrollbar {
    width: 7px;
}

.video-list::-webkit-scrollbar-track {
    background: #aaa;
    border-radius: 50px;
}

.list-video video {
    width: 100px;
    height: 50px;
    border-radius: 5px;
}

.list-video {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #c0c0c0;
    cursor: pointer;
}

.list-video:hover {
    background: #eee;
}

.list-video.active {
    background: #a2a2a2;
}

.list-video.active .list-video-title {
    color: #eee;
}


/* FULLSCREEN CONTROL */
.main-video::-webkit-media-controls-fullscreen-button {
    display: none;
}

#videofx:-webkit-full-screen {
    --bs-gutter-x: 0;
}

#videofx:fullscreen {
    --bs-gutter-x: 0;
}
#videofx:-webkit-full-screen video {
    max-height: 100vh !important;
    width: 100vw !important;
}

#videofx:fullscreen video {
    max-height: 100vh !important;
    width: 100vw !important;
    cursor: default;
}
#videofx:fullscreen #video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
}


/*RESPONSIVE JAJA*/

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1.5fr 1fr;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}












.label-file {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.header {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header svg {
    height: 100px;
}

.header p {
    text-align: center;
    color: black;
}

.footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
}

.footer svg {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.footer p {
    flex: 1;
    text-align: center;
}

#input-file {
    display: none;
}